@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.content-container {
  padding-top: 80px;
  padding-bottom: 100px; }

.nav-background {
  height: 70px;
  width: 100%;
  background: #21232e;
  position: fixed;
  top: 0;
  z-index: 10000; }

.navbar {
  z-index: 10001; }

.row {
  padding: 0;
  margin: 0; }

.title-container h1 {
  padding: 0;
  margin-top: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #21232e;
  font-size: 25px; }

.donut-chart-row {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px; }
  .donut-chart-row h2 {
    color: #21232e;
    font-size: 18px;
    padding-top: 15px; }
  .donut-chart-row p {
    color: #afafaf;
    width: 90%;
    margin: 0 auto;
    min-width: 290px;
    max-width: 800px;
    padding-top: 20px; }
  .donut-chart-row .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold; }
  .donut-chart-row .donut-chart {
    height: 400px;
    width: 400px;
    margin: 0 auto; }

@media (max-width: 1100px) {
  .donut-chart-row {
    padding-left: 0;
    padding-right: 0; } }
@media (max-width: 767px) {
  .donut-chart-row h2 {
    padding-top: 20px; }
  .donut-chart-row p {
    padding-top: 15px; } }
@media (max-width: 420px) {
  .donut-chart {
    width: 350px !important;
    height: 350px !important; } }
@media (max-width: 370px) {
  .donut-chart {
    width: 300px !important;
    height: 300px !important; }
    .donut-chart .highcharts-tooltip .tooltip-text {
      font-size: 30px !important;
      margin-left: -12px !important;
      margin-top: 10px; }
    .donut-chart .highcharts-tooltip text tspan {
      font-size: 40px !important; } }
path:hover.highcharts-point {
  stroke: none; }

.legend-container {
  text-align: center;
  margin: 0 auto; }
  .legend-container table {
    margin: 20px auto; }
    .legend-container table td {
      color: #21232e;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      padding: 2px 25px; }
  .legend-container .color-1::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #ff1d55; }
  .legend-container .color-2::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #ff6b86; }
  .legend-container .color-3::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #ffb1bd; }
  .legend-container .color-4::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #ffe1e6; }
  .legend-container .color-5::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #bfc0c1; }
  .legend-container .color-6::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #d4d5d5; }
  .legend-container .color-7::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #f08c9e; }
  .legend-container .color-8::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: #fa527c; }

.line-chart-row {
  width: 100vw;
  margin-top: 100px; }
  .line-chart-row .col-xs-12 {
    width: 100%; }
  .line-chart-row .line-chart {
    width: 90%;
    margin: 0 auto;
    min-width: 290px; }
    .line-chart-row .line-chart .highcharts-credits {
      display: none; }
    .line-chart-row .line-chart .highcharts-tick {
      display: none; }
    .line-chart-row .line-chart text {
      font-family: 'Roboto', sans-serif;
      color: #21232e; }
  .line-chart-row .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold; }

section {
  display: none;
  padding: 20px 0 0; }

.group-title {
  padding-top: 10px;
  font-size: 14px;
  margin-left: 10px; }

input {
  display: none; }

label {
  display: inline-block;
  margin: 0 0 -1px 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #21232e;
  border: 3px solid #21232e; }

label:hover {
  cursor: pointer; }

input:checked + label {
  color: #ff6b86;
  border: 3px solid #ff6b86; }

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10,
#tab11:checked ~ #content11,
#tab12:checked ~ #content12,
#tab13:checked ~ #content13,
#tab14:checked ~ #content14,
#tab15:checked ~ #content15,
#tab16:checked ~ #content16,
#tab17:checked ~ #content17,
#tab18:checked ~ #content18,
#tab19:checked ~ #content19,
#tab20:checked ~ #content20 {
  display: block; }

/*# sourceMappingURL=app.css.map */
