@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// ******************
// general styles
// ******************

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.content-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.nav-background {
  height: 70px;
  width: 100%;
  background: #21232e;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.navbar {
  z-index: 10001;
}

.row {
  padding: 0;
  margin: 0;
}

.title-container h1 {
  padding: 0;
  margin-top: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #21232e;
  font-size: 25px;
}

// ******************
// donut chart styles
// ******************

.donut-chart-row {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  h2 {
    color: #21232e;
    font-size: 18px;
    padding-top: 15px;
  }
  p {
    color: #afafaf;
    width: 90%;
    margin: 0 auto;
    min-width: 290px;
    max-width: 800px;
    padding-top: 20px;
  }
  .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold;
  }
  .donut-chart {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    // .highcharts-tooltip {
    //   font-size: 50px !important;
    // }
  }
}

@media (max-width: 1100px) {
  .donut-chart-row {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .donut-chart-row {
    h2 {
      padding-top: 20px;
    }
    p {
      padding-top: 15px;
    }
  }
}

@media (max-width: 420px) {
  .donut-chart {
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 370px) {
  .donut-chart {
    width: 300px !important;
    height: 300px !important;
    .highcharts-tooltip {
      .tooltip-text {
        font-size: 30px !important;
        margin-left: -12px !important;
        margin-top: 10px;
      }
      // .percent {
      //   display: none;
      // }
      text {
        tspan {
          font-size: 40px !important;
        }
      }
    }
  }
}

path:hover.highcharts-point {
  stroke: none;
}







// ***************
// legend styles
// ***************

.legend-container {
  text-align: center;
  // width: 85%;
  margin: 0 auto;
  table {
    margin: 20px auto;
    td {
      color: #21232e;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      padding: 2px 25px;
    }
  }
  .color-1::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 29, 85, 1);
  }
  .color-2::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 107, 134, 1);
  }
  .color-3::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 177, 189, 1);
  }
  .color-4::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 225, 230, 1);
  }
  .color-5::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(191, 192, 193, 1);
  }
  .color-6::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(212, 213, 213, 1);
  }
  .color-7::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(240, 140, 158, 1);
  }
  .color-8::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(250, 82, 124, 1);
  }
}













// ******************
// line chart styles
// ******************


.line-chart-row {
  width: 100vw;
  margin-top: 100px;
  .col-xs-12 {
    width: 100%;
  }
  .line-chart {
    width: 90%;
    margin: 0 auto;
    min-width: 290px;
    // max-width: 900px;
    .highcharts-credits {
      display: none;
    }
    .highcharts-tick {
      display: none;
    }
    text {
      font-family: 'Roboto', sans-serif;
      color: #21232e;
    }
  }
  .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold;
  }
}

// @media (max-width: 1100px) {
//   .line-chart-row {
//     #lineChart, #lineChart2 {
//       width: 70%;
//     }
//   }
// }

// @media (max-width: 900px) {
//   .line-chart-row {
//     #lineChart, #lineChart2 {
//       width: 90%;
//     }
//   }
// }



// **************
// divider styles
// **************

// .divider {
//   width: 85%;
//   height: 0;
//   border-top: 2px solid #21232e;
//   margin: 80px auto 40px auto;
// }















// ***********
// TAB SYSTEM
// ***********


section {
  display: none;
  padding: 20px 0 0;
  // border-top: 1px solid #21232e;
}

  .group-title {
    padding-top: 10px;
    font-size: 14px;
    margin-left: 10px;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #21232e;
    border: 3px solid #21232e;
    // display: block;
    // margin: 0 auto;
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    color: rgba(255, 107, 134, 1);
    border: 3px solid rgba(255, 107, 134, 1);
    // border: 3px solid #21232e;
    // border-top: 3px solid rgba(255, 107, 134, 1);
    // border-bottom: 3px solid #fff;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7,
  #tab8:checked ~ #content8,
  #tab9:checked ~ #content9,
  #tab10:checked ~ #content10,
  #tab11:checked ~ #content11,
  #tab12:checked ~ #content12,
  #tab13:checked ~ #content13,
  #tab14:checked ~ #content14,
  #tab15:checked ~ #content15,
  #tab16:checked ~ #content16,
  #tab17:checked ~ #content17,
  #tab18:checked ~ #content18,
  #tab19:checked ~ #content19,
  #tab20:checked ~ #content20 {
    display: block;
  }
