@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// ******************
// general styles
// ******************

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.content-container {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 480px) {
  .content-container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.content-container .row {
  margin: 0;
  padding: 0;
}

.nav-background {
  height: 70px;
  width: 100%;
  background: #21232e;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.navbar {
  z-index: 10001;
}

.row {
  padding: 0;
  margin: 0;
}

.title-container h1 {
  padding: 0;
  margin-top: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #21232e;
  font-size: 25px;
}

// ******************
// donut chart styles
// ******************

.donut-chart-row {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  h2 {
    color: #21232e;
    font-size: 18px;
    padding-top: 15px;
  }
  p {
    color: #afafaf;
    width: 90%;
    margin: 0 auto;
    min-width: 290px;
    max-width: 800px;
    padding-top: 20px;
  }
  .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold;
  }
  .donut-chart {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    // .highcharts-tooltip {
    //   font-size: 50px !important;
    // }
  }
}

@media (max-width: 1100px) {
  .donut-chart-row {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .donut-chart-row {
    h2 {
      padding-top: 20px;
    }
    p {
      padding-top: 15px;
    }
  }
}

@media (max-width: 420px) {
  .donut-chart {
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 370px) {
  .donut-chart {
    width: 300px !important;
    height: 300px !important;
    .highcharts-tooltip {
      .tooltip-text {
        font-size: 30px !important;
        margin-left: -12px !important;
        margin-top: 10px;
      }
      // .percent {
      //   display: none;
      // }
      text {
        tspan {
          font-size: 40px !important;
        }
      }
    }
  }
}

path:hover.highcharts-point {
  stroke: none;
}







// ***************
// legend styles
// ***************

.legend-container {
  text-align: center;
  // width: 85%;
  margin: 0 auto;
  table {
    margin: 20px auto;
    td {
      color: #21232e;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      padding: 2px 25px;
    }
  }
  .color-1::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 29, 85, 1);
  }
  .color-2::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 107, 134, 1);
  }
  .color-3::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 177, 189, 1);
  }
  .color-4::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(255, 225, 230, 1);
  }
  .color-5::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(191, 192, 193, 1);
  }
  .color-6::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(212, 213, 213, 1);
  }
  .color-7::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(240, 140, 158, 1);
  }
  .color-8::before {
    content: "";
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(250, 82, 124, 1);
  }
}













// ******************
// line chart styles
// ******************


.line-chart-row {
  width: 100vw;
  margin-top: 100px;
  .col-xs-12 {
    width: 100%;
  }
  .line-chart {
    width: 90%;
    margin: 0 auto;
    min-width: 290px;
    // max-width: 900px;
    .highcharts-credits {
      display: none;
    }
    .highcharts-tick {
      display: none;
    }
    text {
      font-family: 'Roboto', sans-serif;
      color: #21232e;
    }
  }
  .highcharts-title {
    font-family: 'Roboto', sans-serif;
    color: #21232e;
    font-weight: bold;
  }
}

// @media (max-width: 1100px) {
//   .line-chart-row {
//     #lineChart, #lineChart2 {
//       width: 70%;
//     }
//   }
// }

// @media (max-width: 900px) {
//   .line-chart-row {
//     #lineChart, #lineChart2 {
//       width: 90%;
//     }
//   }
// }



// **************
// divider styles
// **************

.divider {
  width: 100%;
  height: 0;
  border-top: 1px solid #21232e;
  margin: 80px 15px 40px 15px;
}















// ***********
// TAB SYSTEM
// ***********


.content-container section {
  display: none;
  // padding: 20px 0 0;
  // margin: 0 25px 0 0;
  border-top: 1px solid #21232e;
  max-width: 100vw;
}

  .content-container .group-title {
    padding-top: 80px;
    font-size: 25px;
    // margin-left: 25px;
  }

  .content-container input {
    display: none;
  }

  .content-container label {
    display: inline-block;
    margin: 0 0 -3px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #21232e;
    border: 1px solid #21232e;
    border-bottom: transparent;
    // display: block;
    // margin: 0 auto;
  }

    .content-container label:nth-of-type(1),
    .content-container label:nth-of-type(6),
    .content-container label:nth-of-type(11),
    .content-container label:nth-of-type(16) {
      // margin-left: 25px;
    }

  .content-container label:hover {
    cursor: pointer;
  }

  .content-container input:checked + label {
    // color: rgba(255, 107, 134, 1);
    // border: 3px solid rgba(255, 107, 134, 1);
    border: 1px solid #21232e;
    border-top: 3px solid rgba(255, 107, 134, 1);
    border-bottom: 3px solid #fff;
  }

  .tab-group-1 #tab1:checked ~ #content1,
  .tab-group-1 #tab2:checked ~ #content2,
  .tab-group-1 #tab3:checked ~ #content3,
  .tab-group-1 #tab4:checked ~ #content4,
  .tab-group-1 #tab5:checked ~ #content5,
  .tab-group-2 #tab6:checked ~ #content6,
  .tab-group-2 #tab7:checked ~ #content7,
  .tab-group-2 #tab8:checked ~ #content8,
  .tab-group-2 #tab9:checked ~ #content9,
  .tab-group-2 #tab10:checked ~ #content10,
  .tab-group-3 #tab11:checked ~ #content11,
  .tab-group-3 #tab12:checked ~ #content12,
  .tab-group-3 #tab13:checked ~ #content13,
  .tab-group-3 #tab14:checked ~ #content14,
  .tab-group-3 #tab15:checked ~ #content15,
  .tab-group-4 #tab16:checked ~ #content16,
  .tab-group-4 #tab17:checked ~ #content17,
  .tab-group-4 #tab18:checked ~ #content18,
  .tab-group-4 #tab19:checked ~ #content19,
  .tab-group-4 #tab20:checked ~ #content20 {
    display: block;
  }

  @media (max-width: 900px) {
    .content-container .group-title {
      font-size: 22px;
    }
    .content-container label {
      padding: 10px 15px;
      font-size: 14px;
    }
  }

  @media (max-width: 750px) {
    .content-container .group-title {
      font-size: 20px;
    }
    .content-container label {
      padding: 5px 10px;
      font-size: 12px;
    }
  }

  @media (max-width: 625px) {
    .content-container .group-title {
      font-size: 18px;
    }
    .content-container label {
      padding: 5px;
      font-size: 10px;
    }
    // .content-container label:nth-of-type(1),
    // .content-container label:nth-of-type(6),
    // .content-container label:nth-of-type(11),
    // .content-container label:nth-of-type(16) {
    //   margin-left: 10px;
    // }
    // .content-container section {
    //   margin-left: 10px;
    //   margin-right: 10px;
    // }
  }

  @media (max-width: 480px) {
    .content-container label {
      padding: 5px;
      font-size: 10px;
      max-width: 70px;
    }
  }

  @media (max-width: 400px) {
    .content-container label {
      padding: 5px;
      font-size: 10px;
      max-width: 63px;
    }
  }

  @media (max-width: 350px) {
    .content-container label {
      padding: 5px;
      font-size: 9px;
      max-width: 58px;
    }
  }

  @media (max-width: 330px) {
    .content-container label {
      padding: 5px;
      font-size: 8px;
      max-width: 53px;
    }
  }




  // mobile chart styles - remove padding and margins on small devices

  @media (max-width: 767px) {
    .content-container .col-xs-12 {
      padding: 0;
    }
    .line-chart, .donut-chart {
      padding: 0 !important;
      // margin-left: 0 !important;
      // margin-right: 0 !important;
    }
  }
